.vagrant/machines/elk/virtualbox/action_provision
.vagrant/machines/elk/virtualbox/action_set_name
.vagrant/machines/elk/virtualbox/box_meta
.vagrant/machines/elk/virtualbox/creator_uid
.vagrant/machines/elk/virtualbox/id
.vagrant/machines/elk/virtualbox/index_uuid
.vagrant/machines/elk/virtualbox/private_key
.vagrant/machines/elk/virtualbox/synced_folders
.vagrant/machines/elk/virtualbox/vagrant_cwd
.vagrant/machines/log/virtualbox/action_provision
.vagrant/machines/log/virtualbox/action_set_name
.vagrant/machines/log/virtualbox/box_meta
.vagrant/machines/log/virtualbox/creator_uid
.vagrant/machines/log/virtualbox/id
.vagrant/machines/log/virtualbox/index_uuid
.vagrant/machines/log/virtualbox/private_key
.vagrant/machines/log/virtualbox/synced_folders
.vagrant/machines/log/virtualbox/vagrant_cwd
.vagrant/machines/rsyslog/virtualbox/action_provision
.vagrant/machines/rsyslog/virtualbox/action_set_name
.vagrant/machines/rsyslog/virtualbox/box_meta
.vagrant/machines/rsyslog/virtualbox/creator_uid
.vagrant/machines/rsyslog/virtualbox/id
.vagrant/machines/rsyslog/virtualbox/index_uuid
.vagrant/machines/rsyslog/virtualbox/private_key
.vagrant/machines/rsyslog/virtualbox/synced_folders
.vagrant/machines/rsyslog/virtualbox/vagrant_cwd
.vagrant/machines/web/virtualbox/action_provision
.vagrant/machines/web/virtualbox/action_set_name
.vagrant/machines/web/virtualbox/box_meta
.vagrant/machines/web/virtualbox/creator_uid
.vagrant/machines/web/virtualbox/id
.vagrant/machines/web/virtualbox/index_uuid
.vagrant/machines/web/virtualbox/private_key
.vagrant/machines/web/virtualbox/synced_folders
.vagrant/machines/web/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
